.page {
    background: #aa6e39;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page h2 {
    color:  #21292c;
    font-size: 2em;
    margin-bottom: 0;
}

.page h3 {
    color:  #21292c;
}

.page h3 span{
    cursor: pointer;
    color: white;
}

.page form {
    margin-top: -5vh;
    display: flex;
    flex-direction: column;
    min-height: 60vh;
    width: 30%;
}

.page form .name {
    display: flex;
    justify-content: space-between;
}

.page form .name .first-name {
    width: 44%;
}

.page form .name .last-name {
    width: 44%;
}

/* Button */
.page form button {
    border: none;
    outline: none;
    cursor: pointer;
    background:  #21292c;
    line-height: 45px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1.1em;
    font-family: 'Nunito';
}

.page form button:hover {
    filter: brightness(110%)
}
.page form button:active {
    transform: translateY(0.3rem);
}

.page .error {
    color: white;
    font-size: 14px;
    margin: 0 0 10px 0;
}


/* Button */
.submit {
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    background: #21292c;
    line-height: 45px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1.1em;
    font-family: "Nunito";
  }

  .submit:hover {
    filter: brightness(110%);
  }
  .submit:active {
    transform: translateY(0.3rem);
  }
  


/* Media queries*/

@media screen and (max-width:1000px) {
    .page form {
        width: 65%;
    }
}