.modal {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(170, 110, 57, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-form {
  width: 35vw;
}

.modal .menu-bars {
  display: inline;
  cursor: pointer;
  margin-right: -3rem;
}

.modal .bar1,
.modal .bar2,
.modal .bar3 {
  width: 35px;
  height: 2px;
  background-color: #fff;
  margin: 8px 0;
  transition: 0.4s;
}

.modal .bar1 {
  transform: rotate(-45deg) translate(-7px, 8px);
}

.modal .bar2 {
  opacity: 0;
}

.modal .bar3 {
  transform: rotate(45deg) translate(-6px, -8px);
}

.modal .header {
  color: white;
  font-size: 1.4em;
  display: flex;
  justify-content: space-between;
}