<div
  class="overlay"
  [class.overlay-slide-right]="navIsOpen"
  [class.overlay-slide-left]="!navIsOpen"
>
  <nav>
    <ul>
      <li
        *ngFor="let link of linksArray; index as i"
        [className]="link.show ? returnClassIn(i + 1) : returnClassOut(i + 1)"
      >
        <a [routerLink]="link.url" (click)="showNav()">{{ link.title }}</a>
      </li>
    </ul>
  </nav>
</div>
<div class="menu-bars" [class.change]="barChange" (click)="showNav()">
  <div class="bar1"></div>
  <div class="bar2"></div>
  <div class="bar3"></div>
</div>
<router-outlet></router-outlet>
